/* Configurações Gerais */
body {
    background-color: #f5f5f5;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Estilo retro */
    margin: 0;
    color: #4b0082;
}

/* Banner Superior */
.banner-top {
    background-color: #d10074;
    color: white;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

/* Menu de Cima */
.nav-superior {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    background-color: #ffcce6;
}

.nav-superior button {
    background-color: #ff66b2;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

/* Layout Principal */
.container-principal {
    display: flex;
    padding: 20px;
    background: linear-gradient(to bottom, #ff99cc, #ffffff);
}

/* Sidebar (Esquerda) */
.sidebar {
    width: 250px;
    text-align: center;
}

.sidebar h1 {
    color: #d10074;
    font-size: 1.5rem;
}

.menu-lateral button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #d10074;
    font-weight: bold;
}

/* Produtos (Direita) */
.conteudo {
    flex-grow: 1;
    padding: 20px;
}

.produtos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 0px #ff66b2;
    width: 150px;
}

.card img {
    max-width: 100%;
}

/* Oferta */
.oferta-especial {
    display: flex;
    align-items: center;
    gap: 20px;
}

.texto-oferta h2 {
    font-size: 2rem;
    color: black;
}

/* Rodapé */
footer {
    background-color: #d10074;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
